.container {
  width: 100%;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0ebeb;
  color: #000000;
  line-height: 1.5;
  overflow-y: auto; 
}

header {
  background-color: #2d463b6e;
  color: rgb(12, 11, 11); 
  padding: 10px 20px; 
  text-align: center; 
  font-weight: bold; 
}

.principal__titulo {
  font-size: 20px;
  text-align: center; 
  font-family: Arial, sans-serif;
}

.campo__etiqueta {
  margin-bottom: 15px; 
  text-align: right; 
  font-family: Arial, sans-serif;
  font-size: 16px; 
}

.campo__escrita {
  border: 2px solid var(--azul);
  background-color: #dddddc;
  border: 1px solid #161515; 
  padding: 1em;
  width: 80%; 
  border-radius: 10px;
  max-width: 400px; 
  box-shadow: 0 0 8px rgba(31, 29, 29, 0.1); 
}

.formulario__campo {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario{
  overflow: auto;
}

button {
  display: block;
  width: 100%;
  max-width: 200px; 
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #208f61; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}
