.container {
  width: 100%;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: #000000;
  line-height: 1.5;
  overflow-y: auto; 
}

header {
  background-color: #2d463b6e;
  color: rgb(12, 11, 11); 
  padding: 10px 20px; 
  text-align: center; 
  font-weight: bold; 
}

h1 {
  font-size: 26px;
  text-align: center; 
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 15px; 
  text-align: left; 
  font-family: Arial, sans-serif;
  font-size: 16px;
}

label {
  font-weight: bold; 
}

input.form-control, textarea.form-control {
  width: 100%; 
  padding: 8px; 
  border: 1px solid #161515; 
  background-color: #dddddc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 4px; 
  margin-bottom: 8px; 
}

.btn-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
}

button.btn-primary, 
button.btn-cancelar {
    background-color: #208f61;
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button.btn-cancelar {
    background-color: #FF6347;
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    
}

button.btn-primary:disabled {
  opacity: 0.6; 
  cursor: not-allowed; 
}
