<div class="scope">
  <div class="container">
    <header>
      <h1 class="banner__titulo1">Meus Anúncios</h1>
    </header>
    <body>
      <div class="container">
        <div class="advertisement">
          <ul *ngIf="advertisement" class="list">
            <li *ngFor="let anouncement of advertisement" class="item">
              <img class="listaopcoes" [src]="anouncement.imageUrl" alt="1">
              <h3>{{ anouncement.name }}</h3>
              <p>{{ anouncement.occupationArea }}</p>
              <p>{{ anouncement.timeExperience }}</p>
              <p>{{ anouncement.adress }}</p>
              <p>{{ anouncement.contact }}</p>
              <p>{{ anouncement.city }}</p>
              <p>{{ anouncement.description }}</p>
            </li>
          </ul>
          
        </div>
      </div>
    </body>
  </div>